body {
  text-align: center;
  font-family: Open Sans, Arial;
  background: #333;
  color: white;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  margin: 0;
}
#timerInfo {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  align-items: center;
}
#sessionInfo, #breakInfo {
  font-size: 1em;
  margin: 0;
  width: 100%;
}
#timerInfo h2 {
  font-weight: normal;
  font-size: 1.2em;
}
#sessionLength, #breakLength {
  margin: 0;
  font-size: 1.3em;
}
#sessionLength {
  color: #9C0;
}
#breakLength {
  color: #f44;
}
.length {
  display: inline-block;
  width: 50px;
}
.fas {
  cursor: pointer;
}
#session {
  font-size: 3.3em;
  box-shadow: inset 0px 0px 0px 4px #333;
  border: 2px solid #9C0;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
}
#battery {
  font-size: 15em;
  margin: 0;
}
/* ====================== Media Queries ====================== */
@media screen and (min-width: 550px) {
  #timerInfo {
    width: 550px;
    margin: 0 auto;
  }
  #sessionInfo, #breakInfo {
    width: 50%;
    font-size: 1.2em;
  }
  h1 {
    margin: 25px 0;
    font-size: 5em;
  }
}
