body {
  text-align: center;
  font-family: Open Sans, Arial;
  background: #333;
  color: #000;
  margin: 0;
  background: #fff;
}
h1 {
  font-size: 2.3em;
}
header {
  width: 100%;
}
#main {
  border: 2px solid #E1E2E1;
  background: #F5F5F6;
}
#status-bar {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  background: #E1E2E1;
  border: 2px solid #E1E2E1;
}
.status-item {
  width: 80px;
}
#load-state {
  font-size: 1.3em;
}
#battery {
  font-size: 3em;
  margin-right: 10px;
}
#top {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
#timerInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0 25px 0;
}
#sessionInfo, #breakInfo {
  font-size: 1em;
  margin: 0;
  width: 100%;
}
#timerInfo h2 {
  font-weight: normal;
  font-size: 1.2em;
}
#sessionLength, #breakLength {
  margin: 0;
  font-size: 1.3em;
}
#sessionLength {
  color: #9C0;
}
#breakLength {
  color: #f44;
}
.length {
  display: inline-block;
  width: 50px;
}
.fas {
  cursor: pointer;
}
#theTimer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 25px 0;
}
#btn {
  font-size: 2.3em;
  background: #9C0;
  color: #fff;
  box-shadow: inset 0px 0px 0px 4px #333;
  border: 5px solid #9C0;
  border-radius: 12px;
  width: 180px;
  height: 60px;
  margin: 25px auto;
  cursor: pointer;
}
#btn:focus {
  outline:0;
}
#timer {
  margin: 0;
  width: 100%;
  font-size: 2em;
}
/* ====================== Media Queries ====================== */
@media screen and (min-width: 357px) {
  h1 {
    font-size: 3em;
  }
  #theTimer {
    max-width: 415px;
    margin: 25px auto;
  }
  #sessionInfo, #breakInfo {
    width: 50%;
  }

}
@media screen and (min-width: 487px) {
  h1 {
    font-size: 4em;
    padding: 25px 0;
    margin: 0;
  }
}
@media screen and (min-width: 550px) {

  #status-bar, #timerInfo {
    width: 550px;
    margin: 0 auto;
  }
  #sessionInfo, #breakInfo {
    width: 50%;
    font-size: 1.2em;
  }
  h1 {
    margin: 0 auto;
    font-size: 4em;
    width: 550px;
    padding: 25px 0;
  }
  #main {
    width: 550px;
    margin: 0 auto;
  }
}
