body {
  font-family: Open Sans, Arial;
  text-align: center;
  margin: 0;
}
#main {
  background: #F5F5F6;
  margin-top: 50px;
  border: 2px solid #E1E2E1;
  border-radius: 25%;
}
h1 {
  font-size: 2em;
  color: #78909c;
}
h2 {
  font-size: 2.8em;
  margin: 40px 0;
  color: #78909c;
}
#btn {
  background: #fff;
  color: #78909c;
  letter-spacing: 2px;
  font-size: 2.2em;
  font-weight: bold;
  border: 2px solid #E1E2E1;
  box-shadow: inset 0px 0px 0px 2px #fff;
  width: 175px;
  padding: 20px;
  border-radius: 25%;
  cursor: pointer;
}
.btn-settings {
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #E1E2E1;
}
#btn-reset {
  background: #fff;
  color: #78909c;
  font-size: 1.3em;
  width: 75px;
  border: 2px solid #E1E2E1;
  border-radius: 25%;
  cursor: pointer;
  margin-bottom: 25px;
  display: none;
}
#btn:hover, .btn-settings:hover, #btn-reset:hover {
  background: #78909c !important;
  color: #F5F5F6 !important;
}
#btn:active, .btn-settings:active, #btn-reset:active {
  background: #455a64;
}
#btn:focus, .btn-settings:focus, #btn-reset:focus {
  outline:0;
  box-shadow: inset 0px 0px 0px 2px #fff, 0px 0px 15px 4px rgba(96,125,139,0.75);
}
#settings {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}
#settings h3 {
  margin: 0;
}
#break-settings, #session-settings {
  width: 100%;
}
#break-settings {
  color: #f44;
}
#session-settings {
  color: #9C0;
}
#breakLength, #sessionLength {
  font-size: 1.2em;
  font-weight: bold;
}
.controller {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.length {
  width: 50px;
}
.fas::before {
  line-height: 50px;
  height: 50px;
}
/* ====================== Media Queries ====================== */
@media screen and (min-width: 375px) {
  #break-settings, #session-settings {
    width: 50%;
  }
}
@media screen and (min-width: 450px) {
  body {
    width: 450px;
    margin: 0 auto;
  }
}
